table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  text-decoration: none; }

* {
  list-style-type: none; }

* {
  box-sizing: border-box; }

@keyframes bus-move {
  from {
    background-position: 100% 0px; }
  to {
    background-position: 0% 0px; } }

@keyframes mountins-move {
  from {
    background-position: 100% 0px; }
  to {
    background-position: 0% 0px; } }

@keyframes balls-move {
  from {
    background-position: 0px 100%; }
  to {
    background-position: 0px 0%; } }

.roboto {
  font-family: 'Roboto', sans-serif; }

.background-img {
  /*background-image: url("{{ asset('images/frontend_images/background.png') }}");*/
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  width: 100%; }
  .background-img img {
    height: 156px;
    margin: 30px 0px 0px 30px; }

.burger-icon {
  color: #f2f2f2;
  padding: 30px 30px 0px 0px;
  font-size: 33px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  cursor: pointer; }

.Auto-exhibition {
  right: 30px;
  bottom: 30px; }
  .Auto-exhibition h3 {
    color: #f2f2f2; }

.balls {
  opacity: 0.5;
  height: 1080px;
  width: 100%;
  top: 0px;
  z-index: 700;
  background-image: url("balls.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
  background-size: contain;
  background-position: 0px 100%;
  animation: balls-move 15s infinite; }

.opacity {
  opacity: 0.5;
  height: 1080px;
  width: 100%;
  top: 0px;
  z-index: 800;
  display: none;
  background: white; }

.opacity-menu {
  display: none;
  height: 1080px;
  width: 100%;
  top: 0px;
  z-index: 900; }
  .opacity-menu img {
    margin: 30px 0px 0px 30px;
    height: 156px; }
  .opacity-menu .mtavari h3 {
    color: #f2f2f2;
    font-size: 40px; }
  .opacity-menu .mtavari {
    margin-left: 223px;
    margin-top: 100px; }

.icon-section {
  margin-bottom: 100px; }
  .icon-section h2 {
    margin: 80px 0px 80px 0px; }
  .icon-section .box .bg-light {
    background: #ebe8de !important;
    padding: 60px 0px 60px 0px; }
    .icon-section .box .bg-light img {
      height: 90px; }
    .icon-section .box .bg-light h3 {
      margin-top: 30px; }

.animation-section {
  margin-bottom: 30px; }
  .animation-section .background-mountains {
    background-image: url("mountains.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
    height: 162px;
    animation: mountins-move 40s infinite; }
  .animation-section .background-trees {
    background-image: url("trees.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 95%;
    height: 175px;
    top: -6px; }
  .animation-section .background-bus {
    background-image: url("bus.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
    background-size: contain;
    height: 250px;
    bottom: -116px;
    width: 100%;
    animation: bus-move 40s infinite; }
  .animation-section .background-way {
    background-image: url("way.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 5px;
    width: 95%;
    bottom: -32px; }

.map-section iframe {
  margin-top: 30px; }

.map-section .Two-boxes {
  width: 100%;
  top: 280px;
  padding: 0px 100px 0px 100px;
  margin: 0px 0px 30px 0px;
  margin-top: -320px; }
  .map-section .Two-boxes .beige-box {
    background: #ebe8de;
    height: 380px;
    width: 100%;
    padding: 30px; }
    .map-section .Two-boxes .beige-box h1 {
      font-size: 30px; }
    .map-section .Two-boxes .beige-box h3 {
      margin-top: 100px;
      font-size: 25px; }
    .map-section .Two-boxes .beige-box .icon-boxs .google-icon {
      border: 1px solid #000;
      border-radius: 25px;
      padding: 3px;
      width: 31px; }
  .map-section .Two-boxes .white-box {
    background: #fff;
    width: 100%;
    border: 1px solid #ebe8de; }
    .map-section .Two-boxes .white-box h1 {
      font-size: 40px;
      padding: 0px 40px 0px 7px; }
    .map-section .Two-boxes .white-box .form-group input {
      width: 100%;
      height: 32px;
      margin-top: 12px;
      margin-bottom: 12px;
      border-radius: 0px;
      background: #f2f2f2;
      border: 0px; }
    .map-section .Two-boxes .white-box .form-group textarea {
      width: 100%;
      height: 87px;
      margin-top: 12px;
      margin-bottom: 12px;
      border-radius: 0px;
      background: #f2f2f2;
      border: 0px; }
    .map-section .Two-boxes .white-box .two-form-check-input .form-check {
      padding-right: 18px; }

.map-section .Sign-up-box {
  padding-top: 30px; }

.map-section .button .btn {
  padding: 1px 8px;
  margin-right: 8px; }

.footer {
  margin: 32px 100px 101px 0px; }
  .footer h6 {
    font-size: 12px; }

@media only screen and (max-width: 767px) {
  .bg-light {
    margin-top: 30px; } }

@media only screen and (max-width: 991px) {
  .beige-box {
    display: none; } }
